/* styles.css */
body {
    font-family: Arial, sans-serif;
    height: 100px;
    width: 300px;
    padding: 10px;
}

h1 {
    font-size: 24px;
    color: #4CAF50;
}

p {
    font-size: 14px;
}

.tilt-container {
    width: 90%;  /* Reduce container width slightly */
    background-color: #f0f0f0;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto; /* Center container */
}

.tilt-bar {
    height: 100%;
    width: 0;
    background: linear-gradient(to right, darkgreen 40%, green 60%, red 100%); /* Adjust the gradient to show more green */
    border-radius: 10px;
    transition: width 1s ease, background 1s ease;
}
